{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="ui container">

        <div class="ui message">
            <h1 class="ui huge header">کتاب‌باز</h1>
            <p style="font-family: iransansdn; font-weight: bold" class="lead">
                {% trans 'register' %}
            </p>
        </div>
    </div>
    <br>

    <div class="ui text container float center" dir="rtl">
        <div class="ui segment">
            <form class="ui form" method="POST" enctype="multipart/form-data">

                <!-- Security token -->
                {% csrf_token %}
                <!-- Using the formset -->
                <strong>
                    {{ form.as_p }}
                </strong>

                <div class="ui divider"></div>
                <input class="green ui button" type="submit" value="{% trans 'register' %}">
            </form>

        </div>
    </div>
{% endblock %}
