{% extends 'base.html' %}
{% load static %}


{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/delete_ad.css' %}"/>
{% endblock %}

{% block content %}

<div class="ui container">

        <div class="ui message">
            <h1 class="ui huge header">کتاب‌باز</h1>
            <p style="font-family: iransansdn; font-weight: bold" class="lead">
                مکانی برای تبادل کتاب های شما
            </p>
        </div>
    </div>
    <br>
    <div class="ui divider"></div>

{#    <h2 class="new_ad_h2" style="text-align: center">حذف آگهی</h2>#}
    <div class="info_container">
        <form class="ui form" method="post">{% csrf_token %}
            <p style="text-align: right" dir="rtl">
                آیا از حذف کتاب
                {{ object }}
                اطمینان دارید؟
            </p>
            <button class="red ui button" type="submit">حذف</button>
            <button class="ui button" onclick="window.open('/ads/{{ ad.id }}');return false;">بازگشت</button>
        </form>
    </div>

{% endblock content %}
