{% extends 'base.html' %}
{% load static %}


{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_ad.css' %}"/>
{% endblock %}

{% block content %}
{#    <h2 class="new_ad_h2" style="text-align: center">{{ nav }}</h2>#}
    <div class="info_container">

        <form class="ui form" method="POST" enctype="multipart/form-data">

            <!-- Security token -->
            {% csrf_token %}
            <!-- Using the formset -->
            {{ form.as_p }}


            <input class="submit_button" type="submit" value="ثبت">
        </form>
    </div>

{% endblock content %}
