{% extends 'base.html' %}
{% load static %}


{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_ad.css' %}"/>
{% endblock %}

{% block content %}
{#    <h2 class="new_ad_h2" style="text-align: center">{{ nav }}</h2>#}
    <div class="ui container">

        <div class="ui message">
            <h1 class="ui huge header">کتاب‌باز</h1>
            <p style="font-family: iransansdn; font-weight: bold" class="lead">
                مکانی برای تبادل کتاب های شما
            </p>
        </div>
    </div>
    <br>
    <div class="info_container">

        <form class="ui form" method="POST" enctype="multipart/form-data">

            <!-- Security token -->
            {% csrf_token %}
            <!-- Using the formset -->
            {{ form.as_p }}

{#            <div class="field" dir="rtl">>#}
{#                <label>تصویر</label>#}
{#                <input type="file" value="{{ poster }}">#}
{#            </div>#}
{##}
{#            <div class="two fields" dir="rtl">#}
{#                <div class="field" dir="rtl">#}
{#                    <label>نام کتاب:</label>#}
{#                    <input type="text" placeholder="" value="{{ title }}">#}
{#                </div>#}
{#                <div class="field">#}
{#                    <label>نام نویسنده:</label>#}
{#                    <input type="text" placeholder="" value="{{ author }}">#}
{#                </div>#}
{#            </div>#}
{#            <div class="field" dir="rtl">>#}
{#                <label>توضیحات</label>#}
{#                <input type="text" placeholder="" value="{{ description }}">#}
{#            </div>#}
{##}
{#            <div class="ui checkbox" dir="rtl">#}
{#                <input type="checkbox" value="{{ sell }}">#}
{#                <label>فروشی</label>#}
{#            </div>#}

            <input class="green ui button" type="submit" value="ثبت">
        </form>
    </div>

{% endblock content %}
