{% extends 'base.html' %}
{% load static %}


{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/delete_ad.css' %}"/>
{% endblock %}

{% block content %}
<h2 class="new_ad_h2" style="text-align: center">حذف آگهی</h2>
    <div class="info_container">
         <form method="post">{% csrf_token %}
    <p style="text-align: center">Are you sure you want to delete "{{ object }}"?</p>
    <input class="submit_button" type="submit" value="Confirm">
</form>

        </div>

{% endblock content %}
