<!DOCTYPE html> {% load static %} {% load i18n %}
<html lang="en">
{% load static %} {% load i18n %}

<head>
    <script id="message-template" type="text/x-handlebars-template">
        <li class="clearfix">
            <div class="message-data align-right">
                <span class="message-data-time">{% verbatim %}{{time}}{% endverbatim %}</span> &nbsp; &nbsp;
                <span class="message-data-name">{% verbatim %}{{messageOwner}}{% endverbatim %}</span> <i
                    class="fa fa-circle me"></i>
            </div>
            <div class="message other-message float-right">
                {% verbatim %}{{messageOutput}}{% endverbatim %}
            </div>
        </li>
    </script>

    <script id="message-response-template" type="text/x-handlebars-template">
        <li>
            <div class="message-data">
                <span class="message-data-name"><i class="fa fa-circle online"></i> {% verbatim %}{{messageOwner}}{% endverbatim %}</span>
                <span class="message-data-time">{% verbatim %}{{time}}{% endverbatim %}</span>
            </div>
            <div class="message my-message">
                {% verbatim %}{{response}}{% endverbatim %}
            </div>
        </li>
    </script>
    <link href="{% static 'css//chat_page_with_contact.css'%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'js//List.js' %}"></script>
    <script src="{% static 'js//jquery.min.js' %}"></script>
    <script src="{% static 'js//HandleBars.js' %}"></script>
    <script src="{% static 'js//reconnecting-websocket.min.js' %}"></script>

    <script src="{% static 'js//chat_page_with_contact.js'%}"></script>

</head>

<body data-spy="scroll" data-target=".fixed-top">

<div class="container clearfix">
    <div class="people-list" id="people-list">
        <!--        <div class="search">-->
        <!--            <input type="text" placeholder="search"/>-->
        <!--            <i class="fa fa-search"></i>-->
        <!--        </div>-->
        <ul class="list">
            <li class="clearfix borderlist">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar"/>
                <div class="about">
                    <div class="name">Vincent Porter</div>
                    <!--                    <div class="status">-->
                    <!--                        <i class="fa fa-circle online"></i> online-->
                    <!--                    </div>-->
                </div>
            </li>

            <li class="clearfix borderlist">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_09.jpg" alt="avatar"/>
                <div class="about">
                    <div class="name">Dean Henry</div>
                    <!--                    <div class="status">-->
                    <!--                        <i class="fa fa-circle offline"></i> offline since Oct 28-->
                    <!--                    </div>-->
                </div>
            </li>

        </ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar"/>

            <div class="chat-about">
                <div class="chat-with">Chat with Vincent Porter</div>
                <div class="chat-num-messages">already 1902 messages</div>
            </div>
            <i class="fa fa-star"></i>
        </div>
        <!-- end chat-header -->

        <div class="chat-history">
            <ul>
            </ul>

        </div>
        <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>

            <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
            <i class="fa fa-file-image-o"></i>

            <button>Send</button>

        </div>
        <!-- end chat-message -->

    </div>
    <!-- end chat -->

</div>
<!-- end container -->


</body>

</html>