
body {
    padding: 50px;
}

.info_container {
    margin: auto;
    background-position: center center;
    border: 12px solid #B22222;
    border-radius: 10px;
    padding: 20px 40px 40px;
    width: 800px;
    height: 400px;
    /*max-width: 600px;*/
}

.info_container__image {
    max-width: 300px;
    max-height: 300px;
    margin: 30px 30px 30px 0;
    float: left;
}

.info_container__text {
    direction: rtl;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: inline;
}

.clearfix {
    overflow: auto;
}





