body {
    background-image: url("../images/pattern1.jpg");
    background-size: cover;
    background-color: #cccccc;
}

.new_ad_h2 {
    background-color: #0e8c8c;
    color: whitesmoke;
    margin: 30px 0px 30px 0px;
    padding: 20px 20px 20px;
    font-family: iransansdn;
    font-size: 3rem;
}
.info_container {
    position: relative;
    margin: auto;
    background-position: center center;
    border: 12px solid #0e566c;
    border-radius: 10px;
    padding: 20px 40px 40px;
    width: 500px;
    height: 120px;
}

.info_container::after {
    background-color: #E5F9E7;
    background-size: cover;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.submit_button {
    border-radius: 10px;
    width: 70px;
    height: 50px;
    transition-duration: 0.4s;
    background-color: #0e8c8c;
    color: whitesmoke;
}

.submit_button:hover{
    background-color: #00b5ad;
}
