.iransansdn_bold_size2 {
    font-family: iransansdn;
    font-weight: bold;
    font-size: 2em;
}

.iransansdn_size2 {
    font-family: iransansdn;
    font-weight: normal;
    font-size: 2em;
}

.iransansdn_size1_5 {
    font-family: iransansdn;
    font-weight: normal;
    font-size: 1.5em;
}

.iransansdn_bold_size1_5 {
    font-family: iransansdn;
    font-weight: bold;
    font-size: 1.5em;
}


