.iransansdn_bold_medium {
    font-family: iransansdn;
    font-weight: bold;
    font-size: medium;
}

.iransansdn_small {
    font-family: iransansdn;
    font-weight: normal;
    font-size: small;
}
