{% extends 'base.html' %}
{% load static %}


{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_ad.css' %}"/>
{% endblock %}

{% block content %}
{#    <h2 class="new_ad_h2" style="text-align: center">{{ nav }}</h2>#}
    <div class="ui container">

        <div class="ui message">
            <h1 class="ui huge header">کتاب‌باز</h1>
            <p style="font-family: iransansdn; font-weight: bold" class="lead">
                مکانی برای تبادل کتاب های شما
            </p>
        </div>
    </div>
    <br>

    <div class="ui text container float center" dir="rtl">
        <div class="ui segment">
            <form class="ui form" method="POST" enctype="multipart/form-data">

                <!-- Security token -->
                {% csrf_token %}
                <!-- Using the formset -->
                <strong>
                    {{ form.as_p }}
                </strong>

                <div class="ui divider"></div>
                <input class="green ui button" type="submit" value="ثبت">
            </form>

        </div>
    </div>

{% endblock content %}
