{% extends 'base.html' %}
{% load static %}

{% block extra_header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ads.css' %}"/>
{% endblock %}

{% block links %}
    <a href="/ads" class="item">آگهی ها</a>
    <a href="ads/new" class="item">ثبت آگهی</a>
    <a href="/" class="item">صفحه اصلی</a>
{% endblock links %}

{% block content %}

    <div class="ad_info">
        <h1>
            {{ ad.title }}
        </h1>

        <ul>
            Ad id : {{ ad.id }}
            <br> Ad title : {{ ad.title }}
            <br> Ad author : {{ ad.author }}
            <img src="{{ ad.poster.url }}">
        </ul>
    </div>



{% endblock content %}
