{% extends 'base.html' %}
{% load static %}


{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_ads.css' %}"/>
{% endblock %}

{% block content %}
    <h1 class="ad_info_h1" style="text-align: center">لیست آگهی‌ها</h1>

    {% for ad in book_ads %}
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/ads/{{ ad.id }}"> {{ ad.title }}>
                    <img src="{{ ad.poster.url }}" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">
                    <ul style="list-style-type: none">

                        <li><span class="iransansdn_bold_size1_5">نام کتاب :</span>
                            <span class="iransansdn_size1_5"> {{ ad.title }} </span></li>

                        <li><span class="iransansdn_bold_size1_5">نویسنده :</span>
                            <span class="iransansdn_size1_5"> {{ ad.author }} </span></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}


    <div class="clearfix"></div>


{% endblock content %}

