{% extends 'base.html' %}
{% load static %}



{% block content %}

    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui text container">
                <h1 class="ui inverted header">
                    سامانه‌ی تبادل کتاب هوشمند
                </h1>
                <h2>دیگر نگران منابع درسی خود نباشید! </h2>
                <div href="/ads/" class="ui huge primary button">مشاهده‌ی آگهی‌ها <i class="right arrow icon"></i></div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header">کتاب‌های درسی قدیمی خود را بفروشید</h3>
                        <p>دیگر لازم نیست نگران خاک‌خوردن کتاب طراحی الگوریم خود باشید... آن را به یک دانشجوی فلک‌زده‌ی دیگر بفروشید!</p>
                        <h3 class="ui header">کتاب موردنیاز خود را ارزان بخرید</h3>
                        <p>بله، دیگر لازم نیست هزینه‌های نجومی برای کتاب‌های درسی خود بدهید یا کل میدان انقلاب را گز کنید!</p>
                    </div>
{#                    <div class="six wide right floated column">#}
{#                        <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">#}
{#                    </div>#}
                </div>
                <div class="row">
                    <div class="center aligned column">
                        <a href="/ads/new" class="ui huge button">ثبت آگهی</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui vertical stripe quote segment">
            <div class="ui equal width stackable internally celled grid">
                <div class="center aligned row">
                    <div class="column">
                        <h3>"دیگر نگران شروع ترم جدید نیستم"</h3>
                        <p>- قال کلیه‌ی دانشجویان کشور</p>
                    </div>
                    <div class="column">
                        <h3>"دیگه فقط نگران نمره‌هامم"</h3>
                        <p>
{#                            <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys#}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>


{% endblock content %}

